
 * {box-sizing: border-box;}

.wrapper {
  border: 2px solid chartreuse;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  /* column-gap: 10px; */
  /* row-gap: 1em; */
}

.box {
    border: 1px solid chartreuse; 
    /* margin: 5px; */
    border-radius: 3px;
    color: darkblue;
    text-shadow: 1px .5px rgb(119, 148, 14);
    background-color: rgb(31, 201, 243);
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: subgrid;  daje horizontalnu podelu kao redove*/
    /* column-gap: 5px; */
}

/* .nested {
  border: 2px solid chartreuse;
  border-radius: 5px;
  background-color: #dbffe0;
  padding: 2em;
  margin: 5px;
} */
   
/* .box2 {
    grid-column-start: 1;
    grid-row: 3 / 5;
} */

.box2 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    /* background-color: darkturquoise; */
    /* The item box2 is now overlapping box1, it displays on top as it comes later in the source order. */
}


