/* 
body {
  font-family: "Neuropol X";
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 2px;
  padding: 20px;
  font-size: 22px;
  background-color: rgb(3, 3, 95);
  color: #00FFFF;
  text-shadow: 0 0 10px #00FFFF;
}

span {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
     opacity 0 means that I will not see it */
    /* The @keyframes rule specifies the animation code.
    The animation is created by gradually changing from one set of CSS styles to another.
    During the animation, you can change the set of CSS styles many times.
  Specify when the style change will happen in percent, or with the keywords "from" and "to", which is the same as 0% and 100%. 0% is the beginning of the animation, 100% is when the animation is complete. */
    
  /* } */
/* } */

body{ 
  font-family: 'neuropol_xregular';
  text-align: center;
  letter-spacing: 2px;
  overflow: hidden;
  background:linear-gradient(0.50turn, #000, #00FFFF,#000);
}

.container{
  width: 1280px;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#typewriter{
  width: fit-content;
  margin: auto;
}

#typewriter p{font-size: 1.5rem;}

span{animation: blinker 1s linear infinite;}

@keyframes blinker{
  50%{opacity: 0;}
  /* opacity 0 means that I will not see it
    The @keyframes rule specifies the animation code.
    The animation is created by gradually changing from one set of CSS styles to another.
    During the animation, you can change the set of CSS styles many times.
  Specify when the style change will happen in percent, or with the keywords "from" and "to",
   which is the same as 0% and 100%. 0% is the beginning of the animation, 100% is when the animation is complete. 
  */
}

@media(max-width:1280px){
  .container{width: 95%;}
}

@media(max-width:480px){
  #typewriter p{font-size: 1rem;}
}

